<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <article>
      <h1>Bootstrap</h1>
      <p>
        Congratulations on successfully installing this Hub server!
        Below is the bootstrap invite link, a one-time invite that will
        set you up as the admin of this Hub.
      </p>
      <a id="invite" class="btn" href="#">Claim invite</a>
      <p></p>
    </article>
    <script>
      window.hubInvite = {
        tcpPort: '<%= tcpPort %>',
        shseCredentials: '<%= shseCredentials %>',
      };
    </script>
    <script src="/bootstrap.js"></script>
  </body>
</html>
