<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <article>
      <h1>Join PPPPP</h1>
      <a id="invite" class="btn" href="#">Claim invite</a>
      <p id="failure" class="hidden">
        Sorry, it seems like you have no actual invite code in the link you
        opened.
      </p>
    </article>
    <script src="/invite.js"></script>
  </body>
</html>
